[gerrit]
    basePath = <%= @settings['repo_base_path'] ? @settings['repo_base_path'] : 'git' %>
    canonicalWebUrl = <%= @settings['gerrit_pub_url'] %>
    gitHttpUrl =<%= @settings['httpurl'] ? @settings['httpurl'] : '' %>
[database]
    type = MYSQL
    hostname = <%= @settings['gerrit_mysql_address'] %>
    database = <%= @settings['gerrit_mysql_db'] ? @settings['gerrit_mysql_db'] : 'gerrit' %>
    username = <%= @settings['gerrit_mysql_username'] ? @settings['gerrit_mysql_username'] : 'gerrit' %>
    port = <%= @settings['mysql_port'] ? @settings['mysql_port'] : '3306' %>
[auth]
    type = HTTP
    gitBasicAuth = true
[container]
    user = gerrit
    javaHome = /usr/lib/jvm/java-1.6.0-openjdk-1.6.0.0.x86_64/jre
    heapLimit = <%= @settings['gerrit_heap_limit'] %>
[sshd]
    listenAddress = <%= @settings['sshd_listen_address'] ? @settings['sshd_listen_address'] : '*:29418' %>
[httpd]
    listenUrl = proxy-http://0.0.0.0:8080/r/
[commentlink "changeid"]
  match = (I[0-9a-f]{8,40})
  link = "#q,$1,n,z"
[commentlink "Redmine_addressing"]
    match = "([Bb]ug|[Ff]ix|[Ss]tory|[Ii]ssue|[Cc]loses?):\\s+#?(\\d+)"
    html = $1<a href=\"<%= scope.function_hiera(["redmine_pub_url"]) %>/issues/$2\">$2</a>
[commentlink "Redmine_related"]
    match = "([Rr]elated|[Rr]elated[ -][Tt]o):\\s+#?(\\d+)"
    html = $1<a href=\"<%= scope.function_hiera(["redmine_pub_url"]) %>/issues/$2\">$2</a>
[gitweb]
    cgi = <%= @gitweb_cgi %>
[sendemail]
    enable = true
    from = MIXED
    smtpServer = 127.0.0.1
    smtpServerPort = 25
    smtpUser =
[download]
    scheme = ssh
    scheme = http
    scheme = anon_http
[suggest]
    accounts = true
    from = 2
[cache]
    directory = cache
[user]
    email = gerrit@<%= scope.function_hiera(["top_domain"]) %>
