[gerrit]
    basePath = <%= @settings['repo_base_path'] ? @settings['repo_base_path'] : 'git' %>
    canonicalWebUrl = http://<%= @settings['weburl'] %>
    gitHttpUrl = <%= @settings['httpurl'] ? @settings['httpurl'] : '' %>
[database]
    type = MYSQL
    hostname = <%= @settings['gerrit_mysql_address'] %>
    database = <%= @settings['gerrit_mysql_db'] ? @settings['gerrit_mysql_db'] : 'gerrit' %>
    username = <%= @settings['gerrit_mysql_username'] ? @settings['gerrit_mysql_username'] : 'gerrit' %>
    port = <%= @settings['mysql_port'] ? @settings['mysql_port'] : '3306' %>
[auth]
    type = LDAP
    gitBasicAuth = <%= @settings['http_basic_auth'] %>
[ldap]
    server = <%= @settings['ldap_uri'] %>
    # lookup user that can read the trees
    username = <%= @settings['ldap_username'] %>
    accountBase = <%= @settings['ldap_account_base'] %>
    accountPattern = <%= @settings['ldap_account_pattern'] %>
    accountEmailAddress = <%= @settings['ldap_account_email_address'] %>
    accountSshUserName = <%= @settings['ldap_account_ssh_username'] %>
    groupPattern = <%= @settings['ldap_group_pattern'] %>
    groupBase = <%= @settings['ldap_group_base'] %>
    groupName = <%= @settings['ldap_group_name'] %>
    groupMemberPattern = <%= @settings['ldap_group_member_pattern'] %>
[container]
    user = gerrit
    javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
    listenAddress = <%= @settings['sshd_listen_address'] ? @settings['sshd_listen_address'] : '*:29418' %>
[httpd]
    listenUrl = proxy-http://127.0.0.1:8080/r/
[commentlink "Redmine"]
    match = ([Bb]ug:\\s+)(\\d+)
    html = $1<a href=\"http://<%= @settings['issues_tracker_address'] %>/issues/$2\">$2</a>
[gitweb]
    cgi = /usr/share/gitweb/gitweb.cgi
[sendemail]
    enable = true
    smtpEncryption = none
    from = MIXED
    smtpServer = <%= @settings['smtp_server'] %>
    smtpServerPort = <%= @settings['smtp_server_port'] ? @settings['smtp_server_port'] : '25' %>
    smtpUser = <%= @settings['smtp_user'] ? @settings['smtp_user'] : '' %>
[download]
    scheme = ssh
    scheme = http
    scheme = anon_http
[suggest]
    accounts = true
    from = 2
